EvolventDemo/Service References/EvolReference/EvolventHealth.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EvolventHealth" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:30251/EvolventHea.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:30251/EvolventHea.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:30251/EvolventHea.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEvolventHealth_GetList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="IEvolventHealth_GetList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="IEvolventHealth_AddEvolvent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEvolvent" />
  </wsdl:message>
  <wsdl:message name="IEvolventHealth_AddEvolvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEvolventResponse" />
  </wsdl:message>
  <wsdl:message name="IEvolventHealth_UpdateEvolvent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEvolvent" />
  </wsdl:message>
  <wsdl:message name="IEvolventHealth_UpdateEvolvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEvolventResponse" />
  </wsdl:message>
  <wsdl:message name="IEvolventHealth_DeleteEvolvent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEvolvent" />
  </wsdl:message>
  <wsdl:message name="IEvolventHealth_DeleteEvolvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEvolventResponse" />
  </wsdl:message>
  <wsdl:portType name="IEvolventHealth">
    <wsdl:operation name="GetList">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvolventHealth/GetList" message="tns:IEvolventHealth_GetList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvolventHealth/GetListResponse" message="tns:IEvolventHealth_GetList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEvolvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvolventHealth/AddEvolvent" message="tns:IEvolventHealth_AddEvolvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvolventHealth/AddEvolventResponse" message="tns:IEvolventHealth_AddEvolvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEvolvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvolventHealth/UpdateEvolvent" message="tns:IEvolventHealth_UpdateEvolvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvolventHealth/UpdateEvolventResponse" message="tns:IEvolventHealth_UpdateEvolvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEvolvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEvolventHealth/DeleteEvolvent" message="tns:IEvolventHealth_DeleteEvolvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEvolventHealth/DeleteEvolventResponse" message="tns:IEvolventHealth_DeleteEvolvent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SOAPEndPoint" type="tns:IEvolventHealth">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetList">
      <soap:operation soapAction="http://tempuri.org/IEvolventHealth/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEvolvent">
      <soap:operation soapAction="http://tempuri.org/IEvolventHealth/AddEvolvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEvolvent">
      <soap:operation soapAction="http://tempuri.org/IEvolventHealth/UpdateEvolvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEvolvent">
      <soap:operation soapAction="http://tempuri.org/IEvolventHealth/DeleteEvolvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EvolventHealth">
    <wsdl:port name="SOAPEndPoint" binding="tns:SOAPEndPoint">
      <soap:address location="http://localhost:30251/EvolventHea.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>