EvolventDemo/Service References/EvolReference/EvolventHea.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:30251/EvolventHea.svc?xsd=xsd2" />
  <xs:element name="GetList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetListResult" nillable="true" type="ArrayOfEvolvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEvolvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="evl" nillable="true" type="Evolvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEvolventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEvolvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="evl" nillable="true" type="Evolvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEvolventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEvolvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="evl" nillable="true" type="Evolvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEvolventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>