EvolventDemo/Service References/EvolReference/EvolventHea2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEvolvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Evolvent" nillable="true" type="Evolvent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvolvent" nillable="true" type="ArrayOfEvolvent" />
  <xs:complexType name="Evolvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Evolvent" nillable="true" type="Evolvent" />
</xs:schema>